/*  your css code here. If applicable */
body{
	background-color: black;
	padding: 25px;
	background-image: url('https://img.freepik.com/premium-photo/abstract-minimal-black-background-sport-3d-rendering-pattern-texture_184920-893.jpg');
}
#animal-photos{
	display: flex;
	/* grid-template-areas: 
		"a a a " 
		"b c d" 
		"e f g" 
		"h i j"; */
	flex-wrap: wrap;
	justify-content: space-evenly;
	border: 0px solid gray;
	background-color: gray;
	border-radius: 10px;
}
#photo-heading{
	/* grid-area: "a"; */
	width: 100%;
	text-align: center;
	color: white;
	font-weight: lighter;
	font-size: 30px;
	text-transform: uppercase;
}
img{
	width: 30%;
	margin-bottom: 12px;
	border-radius: 25px;
}
.img1{
	grid-area: "b";
}
.img2{
	grid-area: "c";
}
.img3{
	grid-area: "d";
}
.img4{
	grid-area: "e";
}
.img5{
	grid-area: "f";
}
.img6{
	grid-area: "g";
}
.img7{
	grid-area: "h";
}
.img8{
	grid-area: "i";
}
.img9{
	grid-area: "j";
}